In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/2_linear_reg_multivariate/homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
df.isna().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [4]:
#Pre-processing
median_bedroom = df['bedrooms'].median()
df['bedrooms'] = df['bedrooms'].fillna(median_bedroom)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df['price'])

LinearRegression()

__price__ = (m1 x area) + (m2 x bedrooms) + (m3 x age) + b

In [6]:
print(reg.coef_)
print(reg.intercept_)

[  112.06244194 23388.88007794 -3231.71790863]
221323.0018654043

In [7]:
from sklearn.metrics import *
mean_absolute_error(df['price'], reg.predict(df[['area', 'bedrooms', 'age']]))

15507.93866572013

In [8]:
reg.score(df[['area', 'bedrooms', 'age']], df['price'])

0.9550196399325819