In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/nlp-tutorials/main/9_bag_of_words/spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
def transform_msg(text):
    text = text.lower()
    return text

In [4]:
df.Message = df.Message.apply(transform_msg)

In [5]:
df.drop_duplicates(keep='first', inplace=True)

In [6]:
df['Category'].replace(['ham','spam'],[0, 1], inplace=True)
df.head()

   Category                                            Message
0         0  go until jurong point, crazy.. available only ...
1         0                      ok lar... joking wif u oni...
2         1  free entry in 2 a wkly comp to win fa cup fina...
3         0  u dun say so early hor... u c already then say...
4         0  nah i don't think he goes to usf, he lives aro...

In [7]:
df.shape

(5156, 2)

In [8]:
X = df.Message
y = df.Category

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X_cv = vectorizer.fit_transform(X)
X_cv.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_cv, y, test_size=0.25, random_state=10)

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB, BernoulliNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

In [12]:
clf = [LogisticRegression(solver='liblinear'),
       KNeighborsClassifier(n_neighbors=3),
       SVC(gamma=0.001),
       MultinomialNB(),
       BernoulliNB(),
       DecisionTreeClassifier(max_depth=5),
       RandomForestClassifier(max_depth=5, random_state=0),
       AdaBoostClassifier()]

In [13]:
scores = []
for c in clf:
    c.fit(X_train, y_train)
    score = c.score(X_test, y_test)
    scores.append(score)

In [14]:
scores

[0.9837083010085338,
 0.9325058184639256,
 0.9177657098525989,
 0.9775019394879751,
 0.9813809154383243,
 0.9511249030256013,
 0.8859581070597362,
 0.9775019394879751]